[Unit]
Description=Docker OpenVPN Client container
Requires=docker.service iptables-masquerade@eth0.service
PartOf=docker.service
After=docker.service network-online.target
Wants=network-online.target

[Service]
TimeoutStartSec=infinity
ExecStartPre=/bin/sh -c "/usr/bin/docker run -d -it --init --rm \
                        -v \"$(readlink -f /etc/resolv.conf)\":/tmp/docker-openvpn/name/\"$(basename $(readlink -f /etc/resolv.conf))\":ro \
                        -v \"$(dirname $(readlink -f /etc/resolv.conf))\":/tmp/host -v /tmp/docker-openvpn/:/tmp/docker-openvpn/ \
                        --net=host --cap-add=NET_ADMIN --device /dev/net/tun \
                        --name OpenVPN-Client --hostname OpenVPN-Client \
                        ghcr.io/fernandoenzo/openvpn-client:latest"
ExecStart=/usr/bin/docker logs -f OpenVPN-Client
ExecStop=-/usr/bin/docker stop OpenVPN-Client
ExecStop=-/bin/sh -c "[ -f /tmp/docker-openvpn/resolv.conf.orig ] && cp /tmp/docker-openvpn/resolv.conf.orig /etc/resolv.conf ; rm -rf /tmp/docker-openvpn/"
SuccessExitStatus=143

[Install]
WantedBy=multi-user.target

